#container {
  height: inherit;
  height: calc(100% - 65px);
}

md-nav-list a[md-list-item], md-nav-list a.md-list-item {
  text-decoration: none;
}

.loading-overlay {
  position: absolute;
  top: 50%;
  right: calc(50% - 25px);
  padding: 5px;
  background: rgba(0,0,0,.5);
  border-radius: 2px;
  z-index: 9999;

  md-spinner {
    height: 50px;
    width: 50px;
  }
}