$fadeColor: rgba(255,255,255,0.54);
$lightFade: rgba(255,255,255,0.07);
$highlight: #4caf50;

$selectors: "a", "a:focus", "a:hover", "span", "span:focus", "span:hover";
$shortSelectors: "a:hover", "a:focus", "span:hover", "span:focus";

@function descendant($list) {
  $remade: ();
  @each $item in $list {
    $item: append(">", $item);
    $remade: append($remade, $item, comma);
  }
  @return $remade;
}

pagination {
  margin: 0 auto;
  display: table;
}

.pagination {
  
  > li {

    > a, > span {
      color: white;
      background-color: inherit;
      border: 1px solid $lightFade;
      margin: 2px;
      border-radius: 4px;
      transition: all .2s ease-in-out;
    }

    #{ descendant($shortSelectors) } {
      color: white;
      background-color: $highlight;
      border-color: $highlight;
    }

  }
  
  > .active {
    #{ descendant($selectors) } {
      background-color: $highlight;
      border-color: $highlight;
    }
  }
  
  > .disabled {
    #{ descendant($selectors) } {
      color: #777;
      background-color: inherit;
      border-color: $lightFade;
    }
  }
  
}

md-card {
  margin: 8px;
  max-width: 214px;

  [md-card-image]:first-child {
    border-radius: 2px 2px 0 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  md-card-content {

    h3 {
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    a:hover {
      color: $fadeColor; 
    }

    .secondary {
      color: $fadeColor;
    }
  }
}