h3 {
  font-size: 1.2em;
  padding-left: 15px;
}

a {
  display: block;
  border-radius: 2px;
  border: 2px solid #fff;
  transition: border .15s ease-in-out;
  margin-bottom: 8px;
}

a:hover {
  border-color: #4CAF50;
}

img {
  width: 100%;
  border-radius: 2px;
}

